/* Tambahkan ini di file CSS Anda atau di bagian atas file komponen */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Background semi-transparan */
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    z-index: 9999; /* Pastikan overlay ada di atas elemen lain */
  }
  
  .loading-spinner {
    z-index: 10000; /* Pastikan animasi di atas overlay */
  }
  