.container {
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start;
  height: 15vh;
}

.logo {
  width: 6%; 
  height: auto; 
  padding: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  
}

.text-container h2 {
  margin: 35px 0 0 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 160;
  
}

.text-container p {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
